@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Copperplate-Gothic';
  src: url('../public//fonts/Copperplate-Gothic-Bold-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.CopperplateGothic {
  font-family: 'Copperplate-Gothic';
}

.logo defs stop {
  transition: 1s ease;
}
.logo.-lion .logo_icon_svg__main-stop {
  stop-color: #ff9500;
}
.logo.-lion .logo_icon_svg__alt-stop {
  stop-color: #ffd797;
}

.logo.-dolphin .logo_icon_svg__main-stop {
  stop-color: #0099ff;
}
.logo.-dolphin .logo_icon_svg__alt-stop {
  stop-color: #b4f0ff;
}

.logo.-tiger .logo_icon_svg__main-stop {
  stop-color: #cc460c;
}
.logo.-tiger .logo_icon_svg__alt-stop {
  stop-color: #e4b49e;
}

.logo.-bird .logo_icon_svg__main-stop {
  stop-color: #11c700;
}
.logo.-bird .logo_icon_svg__alt-stop {
  stop-color: #93ff89;
}

html {
  font-family: 'Open Sans';
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}
body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html,
body,
#__next,
#__next {
  background: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Copperplate-Gothic';
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
  line-height: 1;
}
h3 {
  font-size: 1.2rem;
}

p {
  font-weight: 300;
  padding: 0 0.2rem;
}

h1.text-gradient::before {
  content: '';
  position: absolute;
  top: 1.5rem;
  width: 11.1rem;
  left: 0;
  height: 0.1rem;
  border-radius: 0;
}

.text-gradient.-lion {
  background: linear-gradient(to left, #ffd797, #ff9500);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1.text-gradient.-lion::before {
  background: linear-gradient(to left, #ffc364, #ff9500);
}

.text-gradient.-dolphin {
  background: linear-gradient(to left, #0099ff, #b4f0ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1.text-gradient.-dolphin::before {
  content: '';
  position: absolute;
  top: 1.5rem;
  width: 11.1rem;
  left: auto;
  right: 0;
  height: 0.1rem;
  border-radius: 0;
}
h1.text-gradient.-dolphin::before {
  background: linear-gradient(to left, #0099ff, #91e0f4);
  width: 17.7rem;
}

.text-gradient.-tiger {
  background: linear-gradient(to left, #e4b49e, #cc460c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1.text-gradient.-tiger::before {
  background: linear-gradient(to left, #ff7e47, #cc460c);
  width: 13.8rem;
}

.text-gradient.-bird {
  background: linear-gradient(to left, #11c700, #93ff89);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1.text-gradient.-bird::before {
  content: '';
  position: absolute;
  top: 1.5rem;
  width: 11.1rem;
  left: auto;
  right: 0;
  height: 0.1rem;
  border-radius: 0;
}
h1.text-gradient.-bird::before {
  background: linear-gradient(to left, #11c700, #93ff89);
  width: 12rem;
}

.headerImageContainer {
  display: block;
  margin: auto;
}

@media screen and (min-width: 640px) {
  .headerImageContainer {
    min-width: 250px;
  }
}

@media screen and (min-width: 1536px) {
  .headerImageContainer {
    min-width: 500px;
  }
}

@media screen and (min-width: 1920px) {
  .headerImageContainer {
    min-width: 800px;
  }
}

.post h1 {
  font-size: 2rem;
}
.post h2 {
  font-size: 1.5rem;
  padding-top: 1rem;
  line-height: 1;
}
.post p,
.post span {
  padding: 1rem;
}
.post ul {
  padding: 1rem;
  padding-top: 0;
}

select,
input,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 0.25rem;
  border-radius: 2px;
}
input,
textarea {
  background: white;
}

input[type='submit'] {
  cursor: pointer;
}

.pointer-events-none {
  user-select: none;
}

a.button {
  padding: 0.28rem 1rem;
}
.button {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 0.4rem 1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  font-family: 'Open Sans';
  font-weight: 300;
  outline: 0;
  font-size: 1rem;
}
.button.-dark {
  color: white;
  border: 1px solid rgb(51, 50, 50);
  background: black;
}
.button.-dark:hover {
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid black;
}
.button.-red {
  color: white;
  border: 1px solid rgb(220, 38, 38);
  background: rgb(220, 38, 38);
}
.button.-red:hover {
  color: white;
  background: rgba(220, 38, 38, 0.8);
  border: 1px solid rgb(220, 38, 38);
}
.button.-teal {
  color: white;
  border: 1px solid rgb(15, 118, 110);
  background: rgb(15, 118, 110);
}
.button.-teal:hover {
  color: white;
  background: rgba(15, 118, 110, 0.8);
  border: 1px solid rgb(15, 118, 110);
}

.button:hover {
  color: black;
  background: white;
}

.contentSection {
  background-color: white;
}
.section__image {
  display: none;
  max-width: 450px;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  .contentSection {
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
  }
  .section__image {
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
  }
}
@media screen and (min-width: 768px) {
  .contentSection {
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
  }
  .section__image {
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  .contentSection {
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
  }
  .section__image {
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
  }
}
@media screen and (min-width: 1280px) {
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  .contentSection {
    border-top-right-radius: 180px;
    border-bottom-left-radius: 180px;
  }
  .section__image {
    border-top-right-radius: 180px;
    border-bottom-left-radius: 180px;
  }
}
@media screen and (min-width: 1536px) {
}
@media screen and (min-width: 1920px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  .contentSection {
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
  }
  .section__image {
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
  }
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 3rem;
  height: 3rem;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.25rem;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
