@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Copperplate-Gothic';
  src: url('../public//fonts/Copperplate-Gothic-Bold-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.CopperplateGothic {
  font-family: 'Copperplate-Gothic';
}

html {
  font-family: 'Open Sans';
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

html,
body,
#__next,
#__next > .bg-black {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Copperplate-Gothic';
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
  line-height: 1;
}
h3 {
  font-size: 1.2rem;
}

p {
  font-weight: 300;
  padding: 0 0.2rem;
}

select,
input,
textarea {
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0.25rem;
  border-radius: 2px;
}
input,
textarea {
  background: white;
}

a.button {
  padding: 0.28rem 1rem;
  margin-right: 1rem;
}
.button {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 0.4rem 1rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;

  font-family: 'Open Sans';
  font-weight: 300;
  outline: 0;
  font-size: 1rem;
}
.button.-dark {
  color: white;
  border: 1px solid rgb(51, 50, 50);
  background: black;
}
.button.-dark:hover {
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid black;
}

.button:hover {
  color: black;
  background: white;
}

.section {
  background-color: white;
}
.section__image {
  display: none;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  .section {
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
  }
  .section__image {
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
  }
  .section__image {
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  .section {
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
  }
  .section__image {
    border-top-right-radius: 120px;
    border-bottom-left-radius: 120px;
  }
}
@media screen and (min-width: 1280px) {
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  .section {
    border-top-right-radius: 180px;
    border-bottom-left-radius: 180px;
  }
  .section__image {
    border-top-right-radius: 180px;
    border-bottom-left-radius: 180px;
  }
}
@media screen and (min-width: 1536px) {
}
@media screen and (min-width: 1920px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  .section {
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
  }
  .section__image {
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
  }
}
